* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

:root {
  /* 🎨 Colores base */
  --bg-primary: #ffffff;
  --bg-secondary: #f8f9fc;
  --bg-card: #ffffff;

  --text-primary: #141c3a;
  --text-secondary: #2c241d;

  --accent: #6e07f3;

  --white: #ffffff;

  --overlay-bg: #141c3a;

  --section-accent-bg: #6e07f3;
}

body.dark {
  --bg-primary: #0f172a;      /* fondo principal */
  --bg-secondary: #1e293b;
  --bg-card: #1e293b;

  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;

  --accent: #8b5cf6;

  --overlay-bg: #0b1220;

  --section-accent-bg: #1a2236;  /* 👈 NUEVO */
}

body.dark .card {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.header-logo {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.header-mail {
  width: 90px;
  height: 90px;
}

.header-mail svg {
  width: 65%;
  height: 65%;
}

.tooltip {
  font-size: 1rem;
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  font-size: 2rem;
  font-weight: 400;
}

.about h1 {
  margin-bottom: 3rem;
  margin-top: 7rem;
}

.about p {
  margin-bottom: 16rem;
}

.card {
  width: 370px;
}

.cards-container {
  padding-top: 40px;
}

.projects {
  margin-bottom: 4rem;
}

.projects-header h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  margin-top: 5rem;
}

.projects-header h2 {
  font-weight: 500;
}

.stack h1 {
  font-size: 3rem;
  margin-top: 7rem;
}

.random-facts h1 {
  font-size: 3rem;
}

.random-facts p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
  max-width: 700px;
  color: var(--text-secondary);
}

.footer-info img {
  margin-top: 7rem;
}

.footer-info p {
  font-size: 2rem;
}
